.img-formules{
    text-align: center;
}

.saintsaveur{
    position: center;
    width:  20%;
}

.norgeslaville{
    text-align :  center;
    width:  20%;
}

.tarif{
    text-align: center;
}

.service{
    text-align: center;
}

.landujan{
    position: center;
    width:  20%;
}

.lezoux{
    position: center;
    width:  17.30%;
}

.img-pension{
    text-align: center;
}

.information{
    text-align: center;
}